<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linyk3.mapper.LineMapper">

    <select id="queryLineByLine" parameterType="java.lang.String" resultType="Line">
        select * from bus_line where line_id=#{line}
    </select>
    
    <select id="queryLineByLineAndStanum" parameterType="java.lang.String" resultType="Line">
        select * from bus_line where line_id=#{0} and line_stanum=#{1}
    </select>

</mapper>